<nav class="" [ngClass]="{'hide':this.router.url === '/' || this.router.url === '/home'}">
  <div class="nav-wrapper blue-grey">
    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <!--<a href="#" class="brand-logo">Logo</a>-->
    <!--<ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="sass.html">Sass</a></li>
      <li><a href="badges.html">Components</a></li>
      <li><a href="collapsible.html">JavaScript</a></li>
    </ul>-->
  </div>
</nav>

<ul id="slide-out" class="sidenav sidenav-fixed">
  <li class="logo-container blue-grey">
    <div class="user-view">
      <div class="logo center">
        <img src="assets/img/logo.png" alt="Logo Programa Informática Rural">
      </div>
      <h5 class="white-text center logo-text">Programa Informática Rural</h5>
      <!--
      <div class="background">
        <img src="images/office.jpg">
      </div>
      <a href="#user"><img class="circle" src="images/yuna.jpg"></a>
      <a href="#name"><span class="white-text name">John Doe</span></a>
      <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
      -->
    </div>
  </li>
  <li routerLinkActive="active"><a [routerLink]="['/home']">Inicio</a></li>
  <li *ngIf="authService.isAuthenticated()" routerLinkActive="active"><a [routerLink]="['/users']">Usuarios</a></li>
  <li *ngIf="authService.isAuthenticated()" routerLinkActive="active"><a (click)="authService.logout()">Logout</a></li>
  <li *ngIf="!authService.isAuthenticated()" routerLinkActive="active"><a [routerLink]="['/login']">Login</a></li>
</ul>
<!--<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>-->
