<div class="slider" [ngClass]="{'hide':this.sliderEnable !== true}">
  <ul class="slides">
    <li>
      <img src="https://scontent.fscl12-1.fna.fbcdn.net/v/t1.0-9/s960x960/79173922_3567062326644985_3335369914427899904_o.jpg?_nc_cat=102&_nc_ohc=q3K6rwGuBCUAQmTAb6IGKUvQM3wMgk6CfwkNPE_bFLThfr-xnzAL-kwzA&_nc_ht=scontent.fscl12-1.fna&oh=c0be877dc98bf1894e5a965991b05b99&oe=5E9A403A"> <!-- random image -->
      <!--<div class="caption center-align">
        <h3>This is our big Tagline!</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>-->
    </li>

    <li>
      <img src="https://scontent.fscl12-1.fna.fbcdn.net/v/t1.0-9/s960x960/79105230_3543440139007204_3458144380672540672_o.jpg?_nc_cat=107&_nc_ohc=YscelqEUU0oAQnWygGV0ycILN22K0ZcBzgZ4vExY5iCBMvi_H3v-TtJhg&_nc_ht=scontent.fscl12-1.fna&oh=9590c2af5a28f04af10a39c3a00c6562&oe=5EA58668"> <!-- random image -->
      <!--<div class="caption center-align">
        <h3>This is our big Tagline!</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>-->
    </li>

    <li>
      <img src="https://scontent.fscl12-1.fna.fbcdn.net/v/t1.0-9/s960x960/79411552_3532737216744163_4843979066933510144_o.jpg?_nc_cat=105&_nc_ohc=v9bBmbVi0ZkAQlQopvzNBguT5SMjSY8lM972NYg0KargzJm9jUtIWxu0A&_nc_ht=scontent.fscl12-1.fna&oh=0f3c865e412888a5bdeda34613b50fbf&oe=5E667E83"> <!-- random image -->
      <!--<div class="caption center-align">
        <h3>This is our big Tagline!</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>-->
    </li>

    <li>
      <img src="https://scontent.fscl12-1.fna.fbcdn.net/v/t1.0-9/s960x960/79144842_3532736946744190_2117538397277913088_o.jpg?_nc_cat=105&_nc_ohc=smQcDJocMZYAQnZ0bwxez_xKoHDxWOxg8izZJMeeUALCM49XhKZ7rbgPQ&_nc_ht=scontent.fscl12-1.fna&oh=be92cccbbcdffa6091aa9dfcfd4c4e3d&oe=5E9BD9CF"> <!-- random image -->
      <!--<div class="caption center-align">
        <h3>This is our big Tagline!</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>-->
    </li>
  </ul>
</div>

<div class="section no-pad-bot" id="index-banner" *ngIf="sliderEnable">
  <div class="container">
    <!--<br><br>
    <h1 class="header center blue-grey-text">Programa Informática Rural</h1>
    <div class="row center">
      <h5 class="header col s12 light">Pronto estaremos de vuelta</h5>
    </div>
    <br><br>-->

  </div>
</div>
